<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon class="icons" name="menu"></ion-icon>
        </button>
        <ion-title>Votre Profil</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-item>
            <ion-avatar item-start large>
                <img src="assets/imgs/profile/avatar-profil-papa.png">
            </ion-avatar>

            <ion-row>
                <ion-col>
                    <h2> {{ (user | async)?.username }}</h2></ion-col>
                <ion-col>
                    <img src="assets/imgs/profile/edit.svg" (click)="openModal()" class="edit">
                </ion-col>
            </ion-row>

            <ion-icon *ngIf=" (user | async)?.sexe === 'masculin'" name="male"></ion-icon>
            <ion-icon *ngIf=" (user | async)?.sexe === 'feminin'" name="female"></ion-icon>

            <p>  <ion-icon name="flame"></ion-icon> {{ (user | async )?.age}} ans</p>
            <p style="color: gold">   <ion-icon name="star"></ion-icon>  {{ (user | async)?.points }} </p>
        </ion-item>

        <img src="assets/imgs/profile/graphique.svg">

        <ion-item>
            <ion-icon class="icons" name="mail" item-left large></ion-icon>
            <h2 class="set-title"> {{ (user | async )?.email }}</h2>
        </ion-item>

        <ion-item>
            <ion-icon class="icons" name="locate" item-left large></ion-icon>
            <h2 class="set-title"> {{ (user | async )?.ville }}</h2>
        </ion-item>

        <ion-item>
            <ion-icon class="icons" name="body" item-left large></ion-icon>
            <h2 class="set-title">IMC {{ this.Math.round((user | async )?.poids / this.Math.pow((user | async )?.taille/100, 2)) }}</h2>
            <p class="set-subtitle">{{ (user | async )?.poids }} Kg | {{ (user | async )?.taille }} cm</p>
        </ion-item>
    </ion-card>
</ion-content>

<ion-footer style="background: #ff7900" (click)="redirectToChat()">
    <img src="assets/imgs/profile/chat-bot.svg" class="chat">
</ion-footer>
