page-profile {
  .item-md ion-avatar img {
    width: 130px;
    height: 130px;
  }

  .toolbar-background-md {
    background-color: #ff7900;
  }

  .toolbar-title-md {
    color: #fff;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 20px;
    text-align: center;
  }
}
